# This workflow will build and push a new container image to Amazon ECR,
# and then will deploy a new task definition to Amazon ECS, when a release is created
on:
  push:
    branches:
      - master

name: Deploy to Amazon ECS

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_DEPLOY_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_DEPLOY_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      
    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      shell: bash
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: books.containers.repository
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker-compose build -f docker-compose.yml -f docker-compose.prod.yml build
        echo ::set-output name=image_name::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

    - name: Set tag of the image
      shell: bash
      id: tag-image
      env:
        IMAGE_NAME: ${{ steps.build-image.outputs.image_name }}
      run : docker tag books.webapi $IMAGE_NAME
      
    - name: Push to AWS registry
      shell: bash
      env:
        IMAGE_NAME: ${{ steps.build-image.outputs.image_name }}
      run: docker push $IMAGE_NAME

    - name: Deploy to AWS CloudFormation
      id: deploy-infrastructure
      uses: aws-actions/aws-cloudformation-github-deploy@v1
      with:
        name: books-demo-stack
        template: deployment/deployment-stack.yml
        parameter-overrides: ImageName=${{ steps.build-image.outputs.image_name }}
